
<h2>Datos del pais</h2>
<!-- HEAD -->
<div *ngIf="currentCountry">
    <p>pais: {{currentCountry.name}}</p>
    <div><p>Bandera: </p><img [src]="currentCountry.flag" style="width: 150px; height: 120px;"></div>
    <h5>Monedas</h5>
    <table>
        <thead>
            <tr>
              <th >Codigo</th>
              <th >Nombre</th>
              <th >Simbolo</th>              
            </tr>
          </thead>
        <tbody>
            <tr *ngFor="let cu of currentCountry.currencies">            
            <td>{{cu.code}}</td>
            <td>{{cu.name}}</td>
            <td>{{cu.symbol}}</td>            
            </tr>
        </tbody>
    </table>
    <p>capital: {{currentCountry.capital}}</p>
</div>

<select (change)="onChangeCountry()" [(ngModel)]="selectedOption">
    <option *ngFor="let city of countrys" [(value)]="city.alpha2Code" >
        <img src="city.flag"> {{city.name}}
    </option>
</select>
<!--   DATA COVID    -->
<h2>Datos del covid</h2>
<table *ngIf="dataCovid">
    
    <thead>
      <tr>
        <th >Pais</th>
        <th >Region</th>
        <th >Ultima actualizacion</th>
        <th >Confirmados</th>
        <th >Muertos</th>
        <th >Recuperados</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let el of dataCovid.data.covid19Stats">
        <th >{{el.city}}</th>
        <td>{{el.province}}</td>
        <td>{{el.country}}</td>
        <td>{{el.lastUpdate}}</td>        
        <td>{{el.confirmed}}</td>
        <td>{{el.deaths}}</td>
        <td>{{el.recovered}}</td>
      </tr>
    </tbody>
  </table>
<!-- CITAS CHUCKNORRIS NUMBERAPI-->
<h2>Cita chucknorris</h2>
<div *ngIf="dataChucknorris">
    {{dataChucknorris.value}}
</div>

<h2>Cita numberapi</h2>
<div *ngIf="dataNumberapi">
    {{dataNumberapi}}
</div>

